<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>messaging</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div class="chat">
		<div class="chat-title">
			<h1>Siméon Excalibur</h1>
			<h2>Sim's</h2>
			<figure class="avatar">
				<img src="image.jpg" />
			</figure>
		</div>
		<div class="messages">
			<ul class="messages-content"></ul>
		</div>
		<div class="message-box">
			<textarea type="text" class="message-input" id='message' placeholder="Type message..."></textarea>
			<button type="submit" class="message-submit" onclick='send()'>Send</button>
		</div>

	</div>
	<div class="bg"></div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="socke.js"></script>
	</body>
</html>