<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Box</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="chat">
		<div class="chat-title">
			<h1>Siméon Excalibur</h1>
			<h2>Sim's</h2>
			<figure class="avatar">
				<img src="./121058453_382370016229175_5039739131965220259_n.jpg" />
			</figure>
		</div>
		<div class="messages">
			<div class="messages-content"></div>
		</div>
		<div class="message-box">
			<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
			<button type="submit" class="message-submit">Send</button>
		</div>

	</div>
	<div class="bg"></div>
</body>

</html>